<% if flash.has?(:message) %>
  <h1><%=flash[:message]%></h1>
<%end%>

<h1>Welcome back, <%= @user.username%>, let's get to it!</h1>
<br></br>

<ul>
  <% @user.chores.each do |chore| %>
    <li> <%= chore.title %></li>
  <% end %>
</ul>

<h4><a href="/chores/new">Create a new chore!</a></h4>
<br></br>


<a href="/logout">Log out</a>
<br></br>
