<% if flash.has?(:message) %>
  <h1><%=flash[:message]%></h1>
<%end%>

<h1>Welcome back, <%= @user.username%>, let's get to it!</h1>
<br></br>

<ol>
  <% @user.chores.each do |chore| %>
    <li><a href="/chores/<%= chore.slug %>"> <%= chore.title %></a></li>
  <% end %>
</ol>
<br></br>

<h5><a href="/chores/new">Create a new chore!</a></h5>
<br />
<h5><a href="/chores">View All the Chores</a></h5>

<h5><a href="/logout">Log out</a></h5>
