<% if flash.has?(:message) %>
  <h1><%=flash[:message]%></h1>
<%end%>

<h1>Welcome back, <%= @user.username%>, what do you want to get done?</h1>
<br></br>



<h4><a href="/chores/new">Create a new chore!</a></h4>
<br></br>


<a href="/logout">Log out</a>
<br></br>
